@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, Colaborador X</h1>
    <p class="mt-4 ">Olá, Essa é uma versão inicial de um projeto acadêmico de Luiz Gustavo.</p>
</div>
